*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Times New Roman", Times, serif;
}

body{
    width: 100%; 
}

.section-p1{
    padding: 40px 80px;
}

button.normal{
    font-size: 14px;
    font-weight: 600;
    padding: 7px 15px;
    color: aliceblue;
    background-color: black;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    outline: none;
    transition: 0.2s;
}

#firsthead{
    display: flex;
    align-items: center;
    padding-top: 12px;
    padding-left: 20px;
    padding-bottom: 2px;
    padding-right: 80px;
    background: black;

}

#firstnavbar{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 1200px;
}

#firstnavbar li{
    list-style: none;
    padding: 0px 20px;
    
}

#firstnavbar li a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: navajowhite;
    transition: 0.3s ease;
}

#firstnavbar li a:hover,
#firstnavbar li a.active{
    color: #088178;
}

#header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    padding: 20px 80px;
    
}

#head{
    display: flex;
    align-items: center;
    padding-top: 25px;
    padding-left: 20px;
    padding-bottom: 10px;
    padding-right: 80px;
    background: black;
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;

}

#navbar{
    display: flex;
    align-items: center;
    justify-content: center;
}

#navbar.active{
    left:0px;
}

#navbar li{
    list-style: none;
    padding: 0px 20px;
}

#navbar li a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: navajowhite;
    transition: 0.3s ease;
}

#navbar li a:hover,
#navbar li a.active{
    color: #088178;
}

#mobile{
    display: none;
    align-items: center;
}

#closeit{
    display: none;
}

#inside{
    background-image: url("images/mojshop.jpg");
    height: 90vh;
    width: 100%;
    background-size: cover;
    background-position: top 50% right 0;
}

#insideshop{
    background-image: url("images/ploca2.jpg");
    height: 30vh;
    width: 100%;
    background-size: cover;
    background-position: top 45% right 0;
    border-bottom: 4px solid black;
}

#poznatiIzv h2{
    font-weight: 600;
}

#poznatiIzv .pro-container{
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    flex-wrap: wrap;
}

#poznatiIzv .pro{
    width: 23%;
    min-width: 250px;
    text-align: center;
    padding: 10px 12px;
    border: 1px solid #c7cdcc;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
    margin: 15px 0;
    transition: 0.2s ease;
}

#poznatiIzv .pro:hover{
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.1);
}

#poznatiIzv .pro img{
    width: 100%;
}

#poznatiIzv .pro .opis{
    padding: 10px 0;
}

#poznatiIzv .pro .opis h4{
    padding-top: 5px;
    color: brown;
    font-size: 20px;

}

#poznatiIzv .pro .opis h5{
    padding-top: 5px;
    color: brown;
    font-size: 20px;
    font-weight: 600;
}


/*-----------detalji za izdvojene ploce------------*/

#onePro .oneProDescription h4{
    padding-top: 5px;
    color: brown;
    font-size: 20px;
    font-weight: 600;
}

#poznatiIzv button:hover{
    background-color: brown;
}

#onePro .oneProDescription button:hover{
    background-color: brown;
}

/*------------------------------------------------*/

#stranice{
    text-align: center;
}

#stranice a{
    text-decoration: none;
    background-color: brown;
    padding: 15px 20px;
    border-radius: 4px;
    color: aliceblue;
    font-weight: 600;
}

#stranice a i{
    font-size: 16px;
    font-weight: 600;
}

#onePro .oneProImage{
    width: 40%;
    margin-right: 50px;

}

#onePro{
    display: flex;
    margin-top: 20px;
}

#onePro .oneProDescription{
    width: 50%;
    padding-top: 30px;
}

#onePro .oneProDescription h2{
    padding: 40px 0 20px 0;
}

#onePro .oneProDescription h4{
    font-size: 26px;
}

#onePro .oneProDescription span{
    line-height: 25px;
}

footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: darkslategray;
    border-top: 4px solid black;
    
}

footer .col{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
}

footer h4{
    font-size: 20px;
    padding-bottom: 20px;
    color: aliceblue;
}

footer p{
    font-size: 17px;
    margin: 0 0 8px 0;
    color: aliceblue;
}

footer a{
    font-size: 17px;
    text-decoration: none;
    color: darksalmon;
    margin-bottom: 10px;
    font-weight: 600;
}

footer a:hover{
    color: crimson;
}

/*--------------otkup.php i about.php-----------------*/

button.send_normal{
    font-size: 14px;
    font-weight: 600;
    padding: 7px 15px;
    color: aliceblue;
    background-color: black;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    outline: none;
    transition: 0.2s;
}

#otkup_opis{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#otkup_opis .prviopis{
    width: 40%;
}

#otkup_opis .prviopis h2{
    font-size: 30px;
    line-height: 35px;
    padding: 30px 0;
    padding-right: 30px;
    text-align: center;
    
}

#otkup_opis .drugiopis{
    font-size: 18px;
    line-height: 35px;
    padding: 20px 0;
}

#otkup_unos form{
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#otkup_unos form span{
    font-size: 14px;
}

#otkup_unos form input{
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
}

#otkup_unos form input:focus{
    background-color: #ddd;
    outline: none;
}

#otkup_unos form button:hover{
    background-color: brown;
}

/*---------------------------------------*/



/*--------------cart.php-----------------*/

#cart-container table{
    border-collapse: collapse;
    width: 100%;
    table-layout: fixed;
}

#cart-container table thead{
    font-weight: 600;
}

#cart-container table thead{
    background-color: brown;
    color: aliceblue;
    border: none;
    padding: 6px 0;
    
}


/*-----------------------------------------*/


/*--------------responsivity---------------*/

@media(max-width:799px){
    #navbar{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: fixed;
        top: 0;
        left: -300px;
        height: 100vh;
        width: 250px;
        background-color: darkslategray;
        box-shadow: 0 40px 60px rgba(0, 0, 0, 0.1);
        padding: 80px 0 0 10px;
        transition: 0.3s;
    }

    #navbar li{
        margin-bottom: 25px;
    }
    #mobile{
        display: flex;
        align-items: center;
        padding-bottom: 10px;
    }
    #mobile i{
        color: navajowhite;
        font-size: 24px;
        padding-left: 20px;
    }
    #closeit{
        display: initial;
        position: absolute;
        top: 30px;
        left: 30px;
        color: navajowhite;
        font-size: 24px;
    }
    #lgbag{
        display: none;
    }


}

/*----------------onama.php---------------*/
#onama_opis{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#onama_opis .prviopis{
    width: 25%;
}

#onama_opis .prviopis h2{
    font-size: 30px;
    line-height: 35px;
    padding: 30px 0;
    padding-right: 30px;
    text-align: center;
    
}

#onama_opis .drugiopis{
    font-size: 18px;
    line-height: 35px;
    padding: 20px 0;
}

#onama_opis2{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#onama_opis2 .prviopis{
    width: 30%;
}

#onama_opis2 .prviopis h2{
    font-size: 30px;
    line-height: 35px;
    padding: 30px 0;
    padding-right: 30px;
    text-align: center;
    
}

#onama_opis2 .drugiopis{
    font-size: 18px;
    line-height: 35px;
    padding: 20px 0;
}


/*------------------------------------------*/


  
  
    








