* {
    box-sizing: border-box;
}


/*Register*/

/* Add padding to containers */
.container {
    padding: 16px;
}
  
  /* Full-width input fields */
.container input[type=text], input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
}
  
.container input[type=text]:focus, input[type=password]:focus {
    background-color: #ddd;
    outline: none;
}
  
  /* Overwrite default styles of hr */
#registr hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
}
  
  /* Set a style for the login and register button */
.goinbutton {
    background-color: black;
    border-radius: 4px;
    font-weight: 600;
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
    transition: 0.4s ease;
}
  
.goinbutton:hover {
    background-color: brown;
}
  
  /* Add a blue text color to links */
#registr a {
    color: dodgerblue;
}
  
  /* Set a grey background color and center the text of the "sign in" section */
.login{
    background-color: white;
    text-align: center;
}

form {border: none;}


  

  
